.seta {
    background-color: #A8701A;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px #F2B11D;
    transition: background 0.3s;
  }
  
  .seta:hover {
    background-color: #ce9a20;
  }