.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 3rem;

}

.header{
    grid-column: 1/-1;
    background-color: #F2B11D;
    height: 200px;
}

.imagem{
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carrossel-area {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #EBE2D5;
}

footer {
    grid-column: 1 / -1;
    background-color: #F2B11D;
    height: 200px;
}

.wrapper .rows:nth-child(3){
    background-color: #F5F5F5;
}
.barra {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    .barra-pesquisa {
      max-width: 400px;
      margin-bottom: 20px;
      display: flex;
      border: 1px solid #ccc;
      border-radius: 30px;
      overflow: hidden;
    }

    .barra-pesquisa input {
      flex: 1;
      padding: 10px 15px;
      border: none;
      outline: none;
      font-size: 1em;
    }

    .barra-pesquisa button {
      background: #28a745;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 1em;
    }

    .produto {
      padding: 10px;
      margin-bottom: 8px;
      background: #f9f9f9;
      border-radius: 5px;
      border: 1px solid #ddd;
    }

    .produto h4 {
      margin: 0 0 5px;
    }