body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    background-color: #eee4d5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 3rem;
}

.header { 
    position: relative;
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #F2B11D;
    height: 200px;
}

.header-left {
    flex-shrink: 0; /*define se o item pode escolher quando o espaço disponível for pequeno demais*/
    display: flex;
    align-items: center;
}

.header-center {
  position: absolute;
  left: 4%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.header-right {
    flex-shrink: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.imagem {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    align-self: center;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.footer {
    display: flex;
    background-color: #F2B11D;
}

.footer .footer-left {
    display: flex; 
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 75px;
    margin: 0 auto;
}

.footer-left .logo-footer {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    align-self: center;
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    
}

.footer-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.linha-divisoria {
    width: 60%;
    margin: 10px;
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
}

.footer-center p{
    margin-top: 2; /*remove espaço extra acima do texto*/
}

.logo-empresa {
    max-width: 100px;
    max-height: 60px;
    object-fit: contain;
    display: block;
    margin: 5px;
}

.footer-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.pagamento{
    max-width: 250px;
    max-height: 200px;
    object-fit: contain;
    display: block;
    margin: 5px;
}

.escrita-forma{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    margin-top: 0;
}

.footer-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.redes-sociais {
    height: 40px;
    display: block;
    margin-bottom: 4px; /*diminui o espaço entre imagem e texto*/
}

.wrapper.rows:nth-child(3) {
    background-color: #F5F5F5;
}
.produto {
    padding: 10px;
    margin-bottom: 8px;
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* MAIS VENDIDOS */

/*grade responsiva*/
.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* até 5 por linha */
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    justify-items: center;
    height: 1000px;
}

.produto-completo {
    height: 355px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px #aca9a1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%; /* permite se ajustar na célula do grid */
    max-width: 250px;
}

.produto-completo img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 4px;
}

.produto-completo p {
    font-size: 0.95rem;
    margin: 2px 0;
}

.produto-completo .preco {
    font-weight: bold;
    color: #80786C;
    justify-content: left;
}

.imgPerfil, .imgSacola {
    margin-top: 68px;
}

.imgPerfil {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 15px;
    position: absolute; /* posicionamento absoluto */
    top: -65px;
    cursor: pointer;
    border-right: 15px;
    right: -550px;
}

.imgSacola {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 15px;
    position: absolute; /* posicionamento absoluto */
    top: -65px;
    right: -600px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 100%;
    top: 45px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 160px;
    flex-direction: column;
    padding: 10px 0;
}

.dropdown-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}